NYKAA_ACCESS_TOKEN=
NYKAA_DOMAIN=

# GCP BigQuery Configuration
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET_ID=nykaa_sales
BQ_TABLE_ID=sales_reports
GOOGLE_APPLICATION_CREDENTIALS=./gcp-service-account.json